section h2 {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-secondary);
}
.blog-previews {
  overflow-y: auto;
}

.sidebar {
  align-self: flex-start;
  overflow-y: auto;
}

.sidebar.sticky {
  position: sticky;
  top: 0;
}

.categories {
  max-width: 700px;
  margin: 4em auto 0 auto;
}

.popular-content {
  max-width: 700px;
  margin: 4em auto 0 auto;

  ul {
    margin-top: 1.5em;

    li {
      margin-top: 1em;
      display: flex;
      align-items: flex-start;
      gap: 1em;

      svg {
        font-size: 1.5rem;

        color: var(--color-primary);
        margin-top: 0.2em;
      }
      a {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2.2rem;
      }
    }
  }
}
