.tags {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 0.7em;

  .tag {
    background-color: var(--color-tertiary);
    padding: 0.4em 0.9em; //original
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: var(--color-tertiary-2);
    }
  }

  .tag.active-tag {
    background-color: var(--color-tertiary-2);
  }

  a {
    text-transform: capitalize;
    font-size: 1.3rem;
  }
}

.link-text {
  // font-size: 1.5rem; //original
  font-size: 1.3rem;
}
