:root {
  /* Preset Colors */
  --color-primary: hsl(245deg, 100%, 60%);
  --color-secondary: hsl(333deg, 100%, 45%);
  --color-tertiary: hsl(204deg, 67%, 85%);
  --color-tertiary-2: hsl(204, 65%, 69%);
  --color-neutral-100: #efefef;
  --color-text: hsl(222deg, 22%, 5%);
  --color-text-2: hsl(0, 0%, 40%);

  /* Preset Fonts */
  --ff-primary: "Poppins", sans-serif;
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app-dark-mode {
  // all main header titles stay the same color
  // sub-text/ sub headers turns whitish
  // header turns to gray gradient
  // main background turns black
  // on blogs, section titles turn yellow
  --color-tertiary: hsl(0, 0%, 18%);
  --color-tertiary-2: hsl(0, 0%, 25%);
  --color-neutral-100: hsl(222deg, 22%, 5%);
  --color-text: #d0d0d0;
  color: var(--color-text);
  background-color: var(--color-neutral-100);
  transition: color 350ms ease 0s, background 350ms ease 0s;
}

#app-light-mode {
  color: var(--color-text);
  background-color: var(--color-neutral-100);
  transition: color 350ms ease 0s, background 350ms ease 0s;
}

/* Basic Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
  // border: 1px solid black;
}

html {
  font-size: 62.5%;
}

/* General */
body {
  font-family: var(--ff-primary);
  font-size: 1.8rem;
  line-height: 1.7;
  font-weight: 400;
  margin: 0;
  // color: var(--color-text);
  // background-color: var(--color-neutral-100);
  // transition: color 350ms ease 0s, background 350ms ease 0s;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.main-flex {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1300px;
  padding: 0 1.5em;

  .main-section {
    margin: 4em auto 7em auto;

    max-width: 700px;
    width: 100%;
  }

  @media screen and (min-width: 1110px) {
    display: flex;
    justify-content: center;
    padding: 0 3em;
    // flex-direction: row;

    gap: 5em;
  }
}

.blog-previews {
  max-width: 700px;
  margin: 4em auto 0 auto;

  ul {
    .blog-preview {
      margin-top: 1.5em;

      h3 {
        text-transform: capitalize;
        font-size: 2rem;
        cursor: pointer;

        &:hover {
          color: var(--color-primary);
        }
      }
      p {
        margin-top: 0.3em;
      }
      a {
        display: inline-block;
        margin-top: 0.2em;
        font-weight: 800;
      }
    }
  }
}
