:root {
  /* Preset Colors */
  --color-primary: hsl(245deg, 100%, 60%);
  --color-secondary: hsl(333deg, 100%, 45%);
  --color-tertiary: hsl(204deg, 67%, 85%);
  --color-neutral-100: #fff;

  /* Preset Fonts */
  --ff-primary: "Poppins", sans-serif;
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Basic Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 62.5%;
}

/*  */
/* Typography */
/*  */

/* General */
body {
  font-family: var(--ff-primary);
  font-size: 1.5rem;
  line-height: 1.7;
  color: #333;
  font-weight: 400;
}

section {
  margin-bottom: 3em;
}

a {
  text-decoration: none;
  color: inherit;
  /* font-weight: 600; */
  /* text-transform: capitalize; */
}

.section-title {
  font-size: 1.6rem;
  color: var(--color-secondary);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 2em;
}

/* blog-posts */
.blog-post {
  margin-bottom: 3em;
}

.blog-post:last-child {
  margin-bottom: 0;
}

.blog-title {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.blog-title:hover {
  color: var(--color-primary);
  cursor: pointer;
}

.blog-body {
  margin-bottom: 1em;
}

.blog-read-more {
  text-decoration: none;
}

.category-link {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.3em 1.2em;
  border-radius: 0.5rem;
  background-color: var(--color-tertiary);
}

:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
}

body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
